<article id="standard" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col c-12">
                <cite>
                    <h1 class="ad-prod-h1">“El cosmos es todo lo que es, todo lo que fue y todo lo que será. Nuestras más ligeras contemplaciones del cosmos nos hacen estremecer: sentimos como un cosquilleo nos llena los nervios, una voz muda, una ligera sensación como de un recuerdo lejano o como si cayéramos desde gran altura. Sabemos que nos aproximamos al más grande de los misterios.”</h1>
                </cite>
                <p class="ad-prod-subtitle-2">Carl Sagan</p>
            </div>
        </div>
    </div>
</article>

<article id="querys" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col c-12">
                <cite>
                    <h1 class="ad-prod-h1">“Aquellos que conocen a los físicos y los montañistas saben los rasgos que tienen en común: un espíritu de soñador, tenacidad de propósito y apertura para probar cualquier camino hacia la cima.”</h1>
                </cite>
                <p class="ad-prod-subtitle-2">John Wheeler</p>
            </div>
        </div>
    </div>
</article>

<article id="clamp" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col c-12">
                <cite>
                    <h1 class="ad-prod-h1">“Einstein se equivocaba cuando decía que Dios no juega a los dados con el universo’. Considerando las hipótesis de los agujeros negros, Dios no solo juega a los dados con el universo: a veces los arroja donde no podemos verlos”.</h1>
                </cite>
                <p class="ad-prod-subtitle-2">Stephen Hawking</p>
            </div>
        </div>
    </div>
</article>