<header class="ad-radius-s text-center">
        <h1 class="ad-prod-h1">Hola, estoy blurreado</h1>
        <button class="an-btn an-btn-s an-btn-filled-tertiary">Adelante</button>
</header>

<section class="image">
    <img src="../../../../assets/images/queens-gambit.jpg" alt="Queen´s Gambit">
</section>

<section class="text">
    <article>
        <div class="container">
            <div class="row">
                <div class="col c-12">
                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>Donec cursus enim sit amet dictum facilisis. Vestibulum facilisis gravida ligula, et maximus ex tempus ultrices. Pellentesque laoreet vel eros sed bibendum. Vestibulum interdum tempus leo et posuere. In dignissim hendrerit lacus, nec aliquet arcu convallis ut. Suspendisse dignissim a tellus et vestibulum. Nunc et massa porttitor, molestie lacus eu, posuere augue. Proin pharetra orci vitae magna pulvinar, et molestie nibh rhoncus. Vivamus in urna varius, consectetur urna ut, commodo enim. Suspendisse blandit elit nec leo efficitur suscipit. Nulla nisi diam, hendrerit a odio in, tincidunt blandit dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas id turpis vehicula, gravida ex in, tempor dui.</p>

                    <p>Vestibulum laoreet leo et est porta faucibus in nec odio. Morbi est diam, blandit id tincidunt ut, luctus a quam. Phasellus vitae lorem lorem. Mauris euismod commodo est vitae rhoncus. Quisque aliquam quam justo, ut porta mauris pellentesque at. Ut at diam placerat, cursus lorem a, porta enim. Ut scelerisque pharetra lacinia. </p>

                    <p>Fusce euismod molestie orci non auctor. Proin vitae viverra dolor. Maecenas iaculis lorem id velit volutpat, vel convallis dolor faucibus. In et tortor vel purus feugiat suscipit non sit amet turpis. Suspendisse laoreet, quam sit amet lobortis consectetur, dui purus tristique tellus, eget lacinia diam eros vitae sem. Integer malesuada ac massa at pellentesque. Proin consectetur tristique enim at euismod. Pellentesque tempor dolor orci, nec fringilla nulla suscipit id. Fusce ut lacinia nisi. Praesent sit amet massa eleifend eros efficitur scelerisque ornare vestibulum lorem. Ut placerat sem elit, porttitor vestibulum velit pretium sit amet. Integer ante diam, euismod et rhoncus quis, auctor ac nisl. Aenean eget velit vulputate, ornare felis et, feugiat ex. Integer eu tortor in dui rhoncus tincidunt. Fusce ac faucibus nisl. Nunc semper lorem velit, imperdiet eleifend libero lacinia ut. </p>
                </div>
            </div>
        </div>
    </article>
</section>

<section class="shapes">
    <div class="square"></div>
    <div class="circle"></div>
</section>

<section class="empty"></section>